.App {
  height: 20%;
  // display: flex;
  // flex-direction: column;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  text-align: center;
}
/* write your parent styles in here for your App.js */

.ui.card {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  
  .header {
   background:linear-gradient(to bottom, rgba(0,0,0,0.09),rgba(0,0,0,0.01));
   border-bottom: 2px solid#3467b4;
   padding-bottom: 5px;
   text-align: center;
  }
 
 }


